<p>
 <img src="ayitianalytics.png" alt="Ayiti Analytics"width=400 />
</p>

##                                       Ayiti_Analytics_Bootcamp Final_Project

## **Your Nearest Care**

* **By: Tchalins JEUDY**
                                                                                                        August, 2020

## Table of contents
* [Introduction](#introduction)
* [Data](#data)
* [Methodology](#methodology)
* [Analysis](#analysis)
* [Results and Discussion](#results)
* [Conclusion](#conclusion)

## **Project Description:** <a name="introduction"></a>

One afternoon on my way home from school, I was with a friend and suddenly, he screamed with a stomach ache and quickly asked to be taken to the nearest health centre, I was lost and didn't know what to do because we were in a not very busy street, and the ambulances we called couldn't get there in time.
At that moment, I was only concerned about one thing.

<i>"Where is the nearest health center or hospital that specializes in the treatment of this type of disease?

The project therefore consists of trying to answer this question wherever you are on Haitian territory, it can help save lives.
The purpose of this project can be of interest to everyone, especially people at risk of health problems who travel a lot in Haiti and in rural areas despite the lack of health care centers in the country.

<i>Who is the audience?

Anyone living in or visiting Haiti may be interested in this project but the most important stakeholders are: The public administration, healthcare investors and NGOs.

## Data <a name="data"></a>

In order to carry out this work, data will be needed on all the health centers and their various services offered throughout the national territory of Haiti. For this purpose, several sites have been consulted and data from several previous studies conducted by the United Nations, USAID, and the World Health Organization (WHO) are being collected.

Source: [OCHA services](https://data.humdata.org/dataset/haiti-healthsites)
        [DHS;SPA,santé 2007](https://dhsprogram.com/publications/publication-spa14-spa-final-reports.cfm)

## Methodology <a name="methodology"></a>

## EDA

In [1]:
#import our library
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim
import time

import json

import requests
from pandas.io.json import json_normalize
#from bs4 import BeautifulSoup
#from selenium import webdriver

import matplotlib.cm as cm
import matplotlib.colors as colors
import requests
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.pipeline import Pipeline
from math import pi

from sklearn.cluster import KMeans
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize
from geopy.geocoders import Nominatim 
import folium

#### Load our Dataset

In [2]:
dfsites=pd.read_csv('healthCare_sites.csv')
#dfsites is a dataframe contain the health center of Haiti by the type and the geolocalisation values
dfsites.head()

,Unnamed: 0,Adm1code,adm1_fr,adm1_ht,adm2code,adm2_en,adm2_fr,adm3code,adm3_en,adm3_fr,Institution name,Catégorie,Institution_Type,Institution_Code,LatDD,LongDD
0,0,NaN,#adm1+name+fr,#adm1+tname+ht,#adm2+code,#adm2+name+en,#adm2+name+fr,#adm3+code,#adm3+name+en,#adm3+name+fr,#loc+name,#loc+id,#loc+type,#loc+code,#lat,#long
1,1,HT01,Ouest,Lwès,HT0111,Port-au-Prince,Port-au-Prince,HT0111-01,1re Section Turgeau,1re Section Turgeau,Centre de Santé Snelak,Dispensaire,Privé à but lucratif,111607,18.525922,-72.335068
2,2,HT01,Ouest,Lwès,HT0111,Port-au-Prince,Port-au-Prince,HT0111-01,1re Section Turgeau,1re Section Turgeau,Centre de psychiatrie Mars & Kline,HCR,Public,111616,18.525922,-72.335068
3,3,HT01,Ouest,Lwès,HT0111,Port-au-Prince,Port-au-Prince,HT0111-01,1re Section Turgeau,1re Section Turgeau,Hôpital St. François de Salle,CSL,Privé à but lucratif,111618,18.537777,-72.344001
4,4,HT01,Ouest,Lwès,HT0111,Port-au-Prince,Port-au-Prince,HT0111-01,1re Section Turgeau,1re Section Turgeau,CSL SODEC,CAL,Privé à but lucratif,111619,18.525922,-72.335068

In [21]:
#remember the variables we need in the dataframe dfsites
dfsite=dfsites[['adm1_fr','adm2_fr','adm3_fr','Institution name','Catégorie','Institution_Type','LatDD','LongDD']]
##dfsite is the dataframe with the variables we need
dfsite.head()

,adm1_fr,adm2_fr,adm3_fr,Institution name,Catégorie,Institution_Type,LatDD,LongDD
0,#adm1+name+fr,#adm2+name+fr,#adm3+name+fr,#loc+name,#loc+id,#loc+type,#lat,#long
1,Ouest,Port-au-Prince,1re Section Turgeau,Centre de Santé Snelak,Dispensaire,Privé à but lucratif,18.525922,-72.335068
2,Ouest,Port-au-Prince,1re Section Turgeau,Centre de psychiatrie Mars & Kline,HCR,Public,18.525922,-72.335068
3,Ouest,Port-au-Prince,1re Section Turgeau,Hôpital St. François de Salle,CSL,Privé à but lucratif,18.537777,-72.344001
4,Ouest,Port-au-Prince,1re Section Turgeau,CSL SODEC,CAL,Privé à but lucratif,18.525922,-72.335068

In [23]:
#Let's change the name of the variables to adm_fr for in depart, city and sect_comn
dfsite.rename(columns={'adm1_fr':'depart','adm2_fr':'city','adm3_fr':'sect_comn'},inplace=True)
dfsite.head()

C:\Users\User\anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,depart,city,sect_comn,Institution name,Catégorie,Institution_Type,LatDD,LongDD
0,#adm1+name+fr,#adm2+name+fr,#adm3+name+fr,#loc+name,#loc+id,#loc+type,#lat,#long
1,Ouest,Port-au-Prince,1re Section Turgeau,Centre de Santé Snelak,Dispensaire,Privé à but lucratif,18.525922,-72.335068
2,Ouest,Port-au-Prince,1re Section Turgeau,Centre de psychiatrie Mars & Kline,HCR,Public,18.525922,-72.335068
3,Ouest,Port-au-Prince,1re Section Turgeau,Hôpital St. François de Salle,CSL,Privé à but lucratif,18.537777,-72.344001
4,Ouest,Port-au-Prince,1re Section Turgeau,CSL SODEC,CAL,Privé à but lucratif,18.525922,-72.335068

In [24]:
#drop the first line, because the line  
dfsite.drop(dfsite.loc[dfsite['depart']=='#adm1+name+fr'].index, inplace=True)
dfsite.head()

C:\Users\User\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,depart,city,sect_comn,Institution name,Catégorie,Institution_Type,LatDD,LongDD
1,Ouest,Port-au-Prince,1re Section Turgeau,Centre de Santé Snelak,Dispensaire,Privé à but lucratif,18.525922,-72.335068
2,Ouest,Port-au-Prince,1re Section Turgeau,Centre de psychiatrie Mars & Kline,HCR,Public,18.525922,-72.335068
3,Ouest,Port-au-Prince,1re Section Turgeau,Hôpital St. François de Salle,CSL,Privé à but lucratif,18.537777,-72.344001
4,Ouest,Port-au-Prince,1re Section Turgeau,CSL SODEC,CAL,Privé à but lucratif,18.525922,-72.335068
5,Ouest,Port-au-Prince,1re Section Turgeau,PROFAMIL 2,CSL,Privé à but non lucratif,18.525922,-72.335068

In [25]:
dfsite.reset_index(drop=True,inplace=True)
dfsite.head()

,depart,city,sect_comn,Institution name,Catégorie,Institution_Type,LatDD,LongDD
0,Ouest,Port-au-Prince,1re Section Turgeau,Centre de Santé Snelak,Dispensaire,Privé à but lucratif,18.525922,-72.335068
1,Ouest,Port-au-Prince,1re Section Turgeau,Centre de psychiatrie Mars & Kline,HCR,Public,18.525922,-72.335068
2,Ouest,Port-au-Prince,1re Section Turgeau,Hôpital St. François de Salle,CSL,Privé à but lucratif,18.537777,-72.344001
3,Ouest,Port-au-Prince,1re Section Turgeau,CSL SODEC,CAL,Privé à but lucratif,18.525922,-72.335068
4,Ouest,Port-au-Prince,1re Section Turgeau,PROFAMIL 2,CSL,Privé à but non lucratif,18.525922,-72.335068

The dataset dfsite is now ready for cleaning!

In [3]:
#dfpro is a dataframe contain the caracteristics of  health sites in Haiti by number and the type 
dfpro=pd.read_sas('HTFC7AFLSP.SAS7BDAT')
dfpro

Warning: column count mismatch (2 + 183 != 1871)

,FACIL,REC_TYPE,DEPART,DEPARTN,VILCOM,VILCOMN,LOCALITY,FACTYPE,MGA,FTYPE,...,Q3180,Q3181,Q3182,Q3183,Q3184,Q3185,Q3200,Q3201,Q3201A,Q3201B
0,1.0,b'A',1.0,b'Ouest',11.0,b'Port-Au-Prince',1.0,7.0,3.0,1.0,...,1.0,1.0,5.0,NaN,NaN,1.0,2.0,NaN,NaN,NaN
1,2.0,b'A',1.0,b'Ouest',11.0,b'Port-Au-Prince',1.0,3.0,1.0,1.0,...,4.0,2.0,5.0,NaN,NaN,2.0,2.0,NaN,NaN,NaN
2,3.0,b'A',1.0,b'Ouest',11.0,b'Port-Au-Prince',1.0,6.0,3.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN,NaN
3,4.0,b'A',1.0,b'Ouest',11.0,b'Port-Au-Prince',1.0,5.0,3.0,1.0,...,2.0,1.0,4.0,NaN,1.0,2.0,2.0,NaN,NaN,NaN
4,5.0,b'A',1.0,b'Ouest',11.0,b'Port-Au-Prince',1.0,6.0,2.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1028,3244.0,b'A',1.0,b'Ouest',21.0,b'L!og!ne',3.0,6.0,2.0,2.0,...,1.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN,NaN
1029,3245.0,b'A',2.0,"b""Sud'est""",11.0,b'Jacmel',3.0,7.0,2.0,2.0,...,1.0,1.0,2.0,1.0,1.0,1.0,2.0,NaN,NaN,NaN
1030,3261.0,b'A',1.0,b'Ouest',2.0,b'Arcahaie',2.0,6.0,3.0,2.0,...,1.0,1.0,5.0,NaN,NaN,1.0,2.0,NaN,NaN,NaN
1031,3262.0,b'A',6.0,b'Centre',6.0,b'Mirbalais',3.0,6.0,3.0,2.0,...,2.0,1.0,5.0,NaN,NaN,1.0,2.0,NaN,NaN,NaN
1032,3281.0,b'A',2.0,"b""Sud'est""",11.0,b'Jacmel',3.0,5.0,3.0,2.0,...,1.0,2.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN,NaN

In [4]:
#columns list of the dataset dfpro 
col_total=dfpro.columns.to_list()
col_total[:10]

['FACIL',
 'REC_TYPE',
 'DEPART',
 'DEPARTN',
 'VILCOM',
 'VILCOMN',
 'LOCALITY',
 'FACTYPE',
 'MGA',
 'FTYPE']

In [20]:
#a view of the observation in a variable for selecting some for the project
dfpro.DEPARTN.unique()

array([b'Ouest', b"Sud'est", b'Nord', b"Nord'Est", b'Artibonite',
       b'Centre', b'Sud', b"Grand'Anse", b"Nord'Ouest", b'Nippes'],
      dtype=object)

In [6]:
#dfprof is a dataframe contains the variables selected from dfpro
dfprof=dfpro[['Q400A_01','Q400A_03','Q400A_08','Q400A_12','Q400AT','Q340','Q450','Q112','Q880','Q710_01','FACIL','DEPARTN','VILCOMN']]
dfprof.head()

,Q400A_01,Q400A_03,Q400A_08,Q400A_12,Q400AT,Q340,Q450,Q112,Q880,Q710_01,FACIL,DEPARTN,VILCOMN
0,2.0,1.0,2.0,0.0,5.0,1.0,3.0,NaN,2.0,1.0,1.0,b'Ouest',b'Port-Au-Prince'
1,1.0,1.0,10.0,0.0,18.0,1.0,3.0,25.0,2.0,3.0,2.0,b'Ouest',b'Port-Au-Prince'
2,7.0,25.0,54.0,1.0,141.0,1.0,1.0,201.0,1.0,1.0,3.0,b'Ouest',b'Port-Au-Prince'
3,2.0,4.0,3.0,0.0,13.0,1.0,3.0,7.0,2.0,3.0,4.0,b'Ouest',b'Port-Au-Prince'
4,0.0,2.0,2.0,0.0,10.0,1.0,3.0,NaN,2.0,1.0,5.0,b'Ouest',b'Port-Au-Prince'

In [8]:
#list of new variables name's  
list_v=['Doc_General','Tech_lab','Nurse','drugist','Staff','Electricity_regular','Ambulance_regular','beds','Machine_radio','Water_run','facil','departn','vilcomn']

In [9]:
#list of old variables name's 
list_ov=dfprof.columns.to_list()
list_ov

['Q400A_01',
 'Q400A_03',
 'Q400A_08',
 'Q400A_12',
 'Q400AT',
 'Q340',
 'Q450',
 'Q112',
 'Q880',
 'Q710_01',
 'FACIL',
 'DEPARTN',
 'VILCOMN']

In [10]:
#rename columns of dfprof
dfprof.columns=list_v
dfprof.head()

,Doc_General,Tech_lab,Nurse,drugist,Staff,Electricity_regular,Ambulance_regular,beds,Machine_radio,Water_run,facil,departn,vilcomn
0,2.0,1.0,2.0,0.0,5.0,1.0,3.0,NaN,2.0,1.0,1.0,b'Ouest',b'Port-Au-Prince'
1,1.0,1.0,10.0,0.0,18.0,1.0,3.0,25.0,2.0,3.0,2.0,b'Ouest',b'Port-Au-Prince'
2,7.0,25.0,54.0,1.0,141.0,1.0,1.0,201.0,1.0,1.0,3.0,b'Ouest',b'Port-Au-Prince'
3,2.0,4.0,3.0,0.0,13.0,1.0,3.0,7.0,2.0,3.0,4.0,b'Ouest',b'Port-Au-Prince'
4,0.0,2.0,2.0,0.0,10.0,1.0,3.0,NaN,2.0,1.0,5.0,b'Ouest',b'Port-Au-Prince'

The dataset dfprof is now ready for cleaning!

#### Explanation of variables

In ***dfprof*** we have the **variables :**

**Doc_General**         :Number of general practitioners

**Tech_lab**            :Number of laboratory technicians

**Nurse**               :Number of nurses

**drugist**             :Number of drugist

**Staff**               :total personal health site

**Electricity_regular** :ability to have continuous electricity

**Ambulance_regular**   :number of functional ambulances in the facility

**beds**                : number of beds avalaible

**Machine_radio**       :quantity of perform diagnostic machine

**Water_run**           :ability to have running water

**facil**               : the number of the facility

**departn**             : the geogrraphic distribution by region(department) 

**vilcomn**             : the name of the town or the city of the facility

In ***dfsite*** we have the **variables :**

**depart**              :  the geogrraphic distribution by region(department)

**city**                : the geogrraphic distribution by region(city or town)

**sect_comn**           :the geogrraphic distribution by region(communal section)

**Institution name**    :the name of the healthsite

**Catégorie**           :the category of the center according to the WHO classification

**Institution_Type**    :the type of the institution according to the financial objective

**LatDD**               :the geolocalisation data(latitude)

**LongDD**              :the geolocalisation data(longitude)

### Data Cleaning